<div class="footerContainer">
  <nav class="nav">

    <a routerLink="/home" class="nav-item" routerLinkActive="active">
      <span class="text-uppercase">Home</span>
      <div *ngIf="route == 'home'" class="nav-indicator-wrapper">
        <span class="nav-indicator"></span>
      </div>
    </a>

    <a routerLink="/fitness" class="nav-item" routerLinkActive="active">
      <span class="text-uppercase">fitness</span>
      <div *ngIf="route == 'fitness'" class="nav-indicator-wrapper">
        <span class="nav-indicator"></span>
      </div>
    </a>

    <a routerLink="/food" class="nav-item" routerLinkActive="active">
      <span class="text-uppercase">food</span>
      <div *ngIf="route == 'food'" class="nav-indicator-wrapper">
        <span class="nav-indicator"></span>
      </div>
    </a>

    <a routerLink="/profile" class="nav-item" routerLinkActive="active">
      <span class="text-uppercase">profile</span>
      <div *ngIf="route == 'profile'" class="nav-indicator-wrapper">
        <span class="nav-indicator"></span>
      </div>
    </a>

  </nav>
</div>
