<div class="content">
  <div class="imgs d-flex">
    <div class="left">
      <img src="assets/images/Ellipse 8.png" alt="" />
      <img src="assets/images/Ellipse 67.png" alt="" />
    </div>
    <div class="right">
      <img src="assets/images/Ellipse 12.png" alt="" />
    </div>
  </div>
  <h2>Login</h2>

  <div class="input mb-3">
    <input class="form-control" [(ngModel)]="phone" type="number" placeholder="01xxxxxxxxx" />
  </div>

  <div class="input mb-3">
    <input class="form-control" [(ngModel)]="password" type="password" placeholder="Enter password" />
  </div>

  @if(error){
  <p class="mt-2 mb-0 p-0 text-danger text-center opacity-75">{{errorMsg}}</p>
  }

  <div class="resend">
    <p>Have account?</p>
    <span>&#160;</span>
    <p (click)="goToSignup()">Sign up</p>
  </div>

  <app-action-button label="Continue" (click)="login()"></app-action-button>
  <div class="d-none" id="sign-in-button"></div>
</div>