.content {
  h2 {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .imgs {
    justify-content: space-between;
    width: 88%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    img {
      padding: 5px;
      background: white;
      border-radius: 50%;
    }
    .left {
      flex-direction: column;
      display: flex;
      height: 260px;
      justify-content: space-around;
      align-items: end;
      img {
        &:last-child {
          width: 51%;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .input {
    width: 100%;
    input {
      width: 100%;
      border: none;
      height: 58px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 20px;
      font-size: 18px;
      box-shadow: none;
      &::placeholder {
        opacity: 0.7;
      }
    }
  }
  .resend {
    display: flex;
    width: 100%;
    justify-content: center;
    p {
      margin: 0;
      &:last-child {
        font-weight: 700;
        color: var(--color1);
        text-decoration: underline;
      }
    }
  }
  .divider {
    min-width: 250px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    .line {
      height: 1.5px;
      width: 40%;
      background-color: black;
      display: inline-block;
      opacity: 0.2;
    }
    .text {
      margin: 0 10px;
      font-weight: 600;
    }
  }
}
