<div class="content">
  <div class="imgs d-flex">
    <div class="left">
      <img src="assets/images/Ellipse 8.png" alt="" />
      <img src="assets/images/Ellipse 67.png" alt="" />
    </div>
    <div class="right">
      <img src="assets/images/Ellipse 12.png" alt="" />
    </div>
  </div>
  <h2>Discover Love where your story begins.</h2>
  <p>
    Join us to discover your ideal partner and ignite the sparks of romance in
    your journey.
  </p>
  <app-action-button
    [hasIcon]="true"
    label="Login With Phone"
    class="my-4 w-100"
  ></app-action-button>
  <div class="signup">
    <span>Don't have an account?</span>
    <span>{{ " " }}</span>
    <span class="sign">Sign Up</span>
  </div>
</div>
