<div class="content ">
    <h2>Choose A Password...</h2>

    <div class="claimer">
        <p>Be Sure to Pick a strong one</p>
    </div>

    <div class="input my-3">
        <input class="form-control" [(ngModel)]="input" type="password" placeholder="Enter a password" />
    </div>

    <div class="input my-3">
        <input class="form-control" [(ngModel)]="confirmPassword" type="password" placeholder="Confirm password" />
    </div>

    @if(error){
    <p class="mt-2 mb-0 p-0 text-danger text-center opacity-75 w-75">{{errorMsg}}</p>
    }

    <app-action-button label="Continue" (click)="continue()"></app-action-button>
</div>