.content {
    text-align: center;

    h2 {
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .claimer {
        p {
            margin: 0;
            font-weight: 500;

            &:last-child {
                font-weight: 700;
            }
        }
    }

    .plans {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            width: 130px;
            height: 130px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #F0E4E6;
            margin: 20px;

            svg {
                fill: black;
            }

            span {
                color: black;
            }

            &.selected {
                background-color: var(--color1);

                svg {
                    fill: white;
                }

                span {
                    color: white;
                }
            }
        }
    }
}