<div class="content">
  <h2>Select A Plan</h2>

  <div class="claimer">
    <p>Select Your Preferred Plan</p>
  </div>

  <div class="plans">
    <!-- <h3>Please Contatct the Technical Support</h3> -->
    <h4 class="my-3 opacity-50">Will be Added Later</h4>

    <!-- <div class="plan1" [class.selected]="input=='selected'" (click)="selecetPlan('plan1')">
        <span>Plan 1</span>
      </div>

      <div class="plan2" [class.selected]="input=='selected'" (click)="selecetPlan('plan2')">
        <span>Plan 2</span>
      </div>

      <div class="plan3" [class.selected]="input=='selected'" (click)="selecetPlan('plan3')">
        <span>Plan 3</span>
      </div> -->

  </div>

  <app-action-button label="Skip" (click)="continue()"></app-action-button>
  <app-action-button label="Continue" (click)="continue()"></app-action-button>
</div>