<div class="content">
  <h2>Social media ? ...</h2>

  <div class="claimer">
    <p>Add your GYM Social media</p>
  </div>

  <div class="input my-3">
    <input class="form-control" [(ngModel)]="facebook" type="text" placeholder="https://www.facebook.com/Gym" />
  </div>

  <div class="input my-3">
    <input class="form-control" [(ngModel)]="insta" type="text" placeholder="https://www.facebook.com/Gym" />
  </div>

  <div class="input my-3">
    <input class="form-control" [(ngModel)]="tiktok" type="text" placeholder="https://www.facebook.com/Gym" />
  </div>

  <app-action-button label="Skip" (click)="continue()"></app-action-button>
  <app-action-button label="Continue" (click)="continue()"></app-action-button>
</div>