.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      height: 150px;
      width: 150px;
    }
  }
  .input {
    width: 100%;
    input {
      width: 100%;
      border: none;
      height: 58px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 20px;
      font-size: 18px;
      box-shadow: none;
      &::placeholder {
        opacity: 0.7;
      }
    }
  }
}

.image-upload-container {
  width: 100%;
  label{
    width: 100%;
  }
  img {
    width: 350px;
    max-width: 100%;
    height: auto;
    border: 2px dashed #ccc;
    padding: 10px;
    transition: transform 0.2s;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
}
