<div class="content">
  <h2>Let's start with your number</h2>

  <div class="input">
    <input class="form-control" type="text" placeholder="Enter phone number" />
  </div>

  <app-action-button
    [hasIcon]="true"
    label="Continue"
    class="my-4 w-100"
  ></app-action-button>

  <div class="divider">
    <span class="line"></span>
    <span class="text">OR</span>
    <span class="line"></span>
  </div>

  <app-action-button
    [hasIcon]="true"
    icon="google"
    label="Login with Google"
    class="my-4 w-100"
  ></app-action-button>
</div>
