<div class="content">
  <h2>Tell Us about You ...</h2>

  <div class="claimer">
    <p>Provide us with further insights into your preferences</p>
  </div>

  <div class="input my-3">
    @for(option of categoryOptions;track categoryOptions){
    <label for="option" class="my-2" [class.selected]="input == option" (click)="selecetActivity(option)">
      {{ option }}
      <div class="circle">
        <span></span>
      </div>
    </label>
    }
  </div>

  <app-action-button
    label="Continue"
    (click)="continue()"
  ></app-action-button>
</div>
