<div class="content">
  <!-- <div class="progress w-100">
    <span style="width: 10%"></span>
  </div> -->

  <h2>Verification Code</h2>

  <div class="claimer">
    <p>Please enter code we just send to</p>
    <p>+91 99292 77633</p>
  </div>

  <div class="input my-3">
    <input class="form-control" type="text" placeholder="Enter phone number" />
  </div>

  <div class="resend">
    <p>Didn't receive OTP?</p>
    <p>Resend Code</p>
  </div>

  <app-action-button
    [hasIcon]="true"
    label="Continue"
    class="mt-4 w-100"
  ></app-action-button>
</div>
