<div class="content">
  <h2>Verification Code</h2>

  <div class="claimer">
    <p>Please enter code we just send to</p>
    <p>{{phone}}</p>
  </div>

  <div class="input my-3 w-100">
    <input class="form-control" [(ngModel)]="input" type="number" placeholder="Enter verification code" />
  </div>

  @if(error){
    <p class="mt-2 mb-0 p-0 text-danger text-center opacity-75">Wrong OTP</p>
  }
  @if(firebaseError){
    <p class="mt-2 mb-0 p-0 text-danger text-center opacity-75">{{firebaseError}}</p>
  }

  <div class="resend">
    <p>Didn't receive OTP?</p>
    <p (click)="reSendOtp()" >Resend Code</p>
  </div>

  <app-action-button
    [hasIcon]="true"
    label="Continue"
    (click)="continue()"
  ></app-action-button>

  <div class="d-none" id="sign-in-button"></div>
</div>
